article {
    margin-top: 3.6rem;
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
}

article h3 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

article .summary {
    font-size: 1.8rem;
    color: var(--secondary);
}

article .summary a {
    color: var(--secondary);
    text-decoration: underline;
}

article .article-footer {
    margin-top: 2rem;
}
article .article-footer .date {
    color: var(--secondary);
}