/* Variables (converted from colors.scss) */
:root {
  --primary-color: rgba(0, 0, 0, 0.88);
  --secondary-color: rgba(0, 0, 0, 0.56);
  --tertiary-color: rgba(0, 0, 0, 0.16);
  --background-color: #f5f5f5;
}

html {
  /* Place the footer at the bottom of the window even though the height of the body is small. */
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: var(--background-color);
  /* Is it unnecessary? */
  /* min-width: 30rem; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  margin: auto;
  max-width: 120rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.navigation {
  display: flex;
  margin: 1.25rem auto 0.125rem auto;
  justify-content: flex-end;
  width: 64%;
}

.navigation h2 {
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
}

.navigation > nav {
  display: flex;
  justify-content: flex-end;
}

.navigation > nav > ul {
  display: flex;
}

.navigation li {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

main {
  width: 64%;
  margin: auto;
  flex-grow: 1;
  line-height: 1.875rem;
  font-size: 1.25rem;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

main h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem;
}

main .mermaid {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
  color: var(--secondary-color);
}

footer > small {
  margin-top: 0.625rem;
}

footer ul {
  display: flex;
}

footer > ul > li {
  margin: 0.25rem;
}

footer > ul > li a {
  color: var(--secondary-color);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.pagination li span {
  border: 0.0625rem solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 50%;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  cursor: pointer;
}

.pagination span {
  font-size: 2.25rem;
  padding: 0.25rem;
}

.pagination li {
  margin: 0 0.5rem;
}

.pagination li a {
  border: 1px solid var(--primary-color);
  padding: 0.5rem;
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

@media screen and (max-width: 47.99875rem) {
  body {
    min-width: 25rem;
  }
  
  .navigation {
    width: 90%;
    display: block;
  }
  
  .navigation > nav {
    display: block;
  }
  
  .navigation ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
  
  main {
    width: 90%;
  }
}