main article {
  margin-bottom: 2.0em;
}
article header a, article header a:hover {
  color: #555;
}

.summary h2 {
  font-size: 3.0rem;
}
.summary h3 {
  font-size: 2.4rem;
}
.summary .excerpt {
  color: #999;
}

.readmore, .readmore:hover {
  color: unset;
}
