main article {
  margin-bottom: 2.5rem;
}
article header a {
  color: #555;
}
article header a:hover {
  color: unset;
}

.summary h2 {
  font-size: 3.0rem;
}
.summary h3 {
  font-size: 2.4rem;
}
.summary .excerpt {
  color: #999;
}

.readmore {
  color: unset;
}
.readmore:hover {
  color: unset;
}
