.entry {
    margin-bottom: 2rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.entry h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.8rem;
}

main .entry .date {
    color: var(--secondary);
    font-size: 1.8rem;
}